<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminCompany">

	<!-- 회사별 결제 상태 + 리스트업 -->
	<select id="selectCompanyWithStatus" resultType="AdminCompanyVO">
        select 
            c.company_no,
            c.company_name,
            c.company_bn,
            c.company_contact,
            c.company_email,
            c.company_zipcode,
            c.company_address1,
            c.company_address2,
            c.company_checked,
            coalesce(p.payment_status, 'INACTIVE') as payment_status
        from 
            company c
        left join (
            select 
                payment_no,
                company_no,
                payment_status,
                row_number() over (partition by company_no order by payment_no desc) as rn
            from 
                payment
        ) p on c.company_no = p.company_no and p.rn = 1 order by c.company_no asc
    </select>
</mapper>