<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="attach">

   <select id="sequence" resultType="int">
      select attach_seq.nextval from dual
   </select>
   
   <insert id="insert">
      insert into attach (attach_no, attach_name, attach_type, attach_size) 
      values (#{attachNo}, #{attachName}, #{attachType}, #{attachSize})
   </insert>
   
<!--    <insert id="insertEmp"> -->
<!--       insert into attach (attach_no, attach_name, attach_type, attach_size)  -->
<!--       values (#{attachNo}, #{attachName}, #{attachType}, #{attachSize}) -->
<!--    </insert> -->
   
<!--    <insert id="connect"> -->
<!--         insert into emp_attach (emp_no, attach_no) -->
<!--         values (#{empNo}, #{attachNo}) -->
<!--     </insert> -->
   
   <select id="find" resultType="AttachDto">
      select * from attach where attach_no = #{attachNo}
   </select>
   
   <delete id="delete">
      delete attach where attach_no = #{attachNo}
   </delete>

<!--    <select id="findEmpAttach" resultType="int"> -->
<!--       select attach_no from emp_attach where emp_no = #{empNo} -->
<!--    </select> -->

<!--    <select id="findEmp" resultType="AttachDto"> -->
<!--       select emp_no from emp_attach where emp_no = #{empNo} -->
<!--    </select> -->



   
</mapper>