<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="boardBlind">
	
	<!-- Create -->
	<select id="sequence" resultType="int">
		select blind_seq.nextval from dual
	</select>
	<insert id="save">
		insert into board_blind(
			blind_no, blind_title, blind_content, blind_writer_nick, 
			blind_writer_company, blind_wtime, blind_etime, blind_view
		)
		values(
			#{blindNo}, #{blindTitle}, #{blindContent}, #{blindWriterNick}, 
			#{blindWriterCompany}, #{blindWtime}, #{blindEtime}, #{blindView}
		)
	</insert>
	
	<!-- Read -->
	<select id="list" resultType="BoardBlindDto">
		select * from board_blind order by blind_no asc
	</select>
	<select id="find" resultType="BoardBlindDto">
		select * from board_blind where blind_no = #{blindNo}
	</select>
	
	<!-- Update -->
	<update id="editAll">
		update board_blind
		set 
			blind_title = #{blindTitle},
			blind_content = #{blindContent},
			blind_writer_nick = #{blindWriterNick},
			blind_etime = #{blindEtime}
		where blind_no = #{blindNo}
	</update>
	
	<!-- Delete -->
	<delete id="delete">
		delete board_blind where blind_no = #{blindNo}
	</delete>
		
</mapper>