<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="chatroom">
	
   	<!-- Create -->
	<!-- 시퀀스 생성 -->
	<select id="sequence" resultType="int">
		select chatroom_seq.nextval from dual
	</select>
	
	<insert id="save">
		insert into chatroom(
			chatroom_no, chatroom_name
		)
		values(
			#{chatroomNo}, #{chatroomName}
		)
	</insert>
	
	<!-- Update / 채팅방 이름 수정 -->
	<update id="edit">
		update chatroom 
			set chatroom_name = #{chatroomName}
			
		where chatroom_no = #{chatroomNo}
	</update>
	
	<!-- Delete / 채팅방에 아무도 없을 때 삭제되게..? -->
	<delete id="delete">
		delete chatroom where chatroom_no = #{chatroomNo}
	</delete>
	
	
</mapper>