<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="document">

	<!-- 시퀀스 생성 -->
	<select id="sequence" resultType="int">
		select notice_seq.nextval from
		dual
	</select>
	<!-- Create(등록) -->
	<insert id="save">
		insert into document(
		document_no, project_no, document_title, document_content,
		document_write_time, document_limit_time, document_writer, document_approver,
		emp_no

		)
		values (#{documentNo}, #{projectNo}, #{documentTitle},
		#{documentContent},
		#{documentWriteTime}, #{documentLimitTime}, #{documentWriter}, #{documentApprover},
		#{empNo}
		)
	</insert>

	<!--프로젝트 번호가 같은 문서 불러오기 -->
	<!-- <select id="docuList" resultType="DocumentDto">
		select * from document where
		project_no = #{projectNo}
	</select>  -->
	
	
	<select id="docuList" resultType="DocumentDto">
    SELECT d.*, p.project_name
    FROM document d
    JOIN project p ON d.project_no = p.project_no
    WHERE d.project_no = #{projectNo}
</select>
	
	
	

	<!-- Read 조회 -->
	<select id="list" resultType="DocumentDto">
		select * from document order by
		document_no desc
	</select>


	<select id="find" resultType="DocumentDto">
		select * from document where
		document_no = #{documentNo}
	</select>
	
	<!-- 프로젝트 Dto 넣기 -->
		<select id="find2" resultType="DocumentDto">
		select * from project where
		project_no = #{projectNo}
	</select>
	


	<!-- update 전체수정/ -->
	<update id="edit">
		update document
		<set>
			<if test="documentTitle != null">document_title = #{documentTitle},</if>
			<if test="documentContent != null">document_content = #{documentContent},</if>
			<if test="documentWriteTime != null"> document_write_time = #{documentWriteTime},</if>
			<if test="documentLimitTime != null">document_limit_time = #{documentLimitTime},</if>
			<if test="documentApprover != null">document_approver = #{documentApprover},</if>
		</set>
		where document_no = #{documentNo}
	</update>





	<!-- 통합검색 -->
<select id="searchDocuments" resultType="DocumentDto">
    SELECT *
    FROM document
    WHERE
    documentNo LIKE CONCAT('%', #{keyword}, '%') OR
    projectNo LIKE CONCAT('%', #{keyword}, '%') OR
    documentTitle LIKE CONCAT('%', #{keyword}, '%') OR
    documentContent LIKE CONCAT('%', #{keyword}, '%') OR
    documentStatus LIKE CONCAT('%', #{keyword}, '%') OR
    documentWriter LIKE CONCAT('%', #{keyword}, '%') OR
    documentApprover LIKE CONCAT('%', #{keyword}, '%') OR
    projectName LIKE CONCAT('%', #{keyword}, '%') OR
    empNo LIKE CONCAT('%', #{keyword}, '%');
</select>

	<!-- Delete -->
	<delete id="delete">
		delete document where document_no = #{documentNo}
	</delete>


</mapper>